source ~/.config/zsh/path.zsh

# Download Znap, if it's not there yet.
[[ -r ~/Repos/znap/znap.zsh ]] ||
    git clone --depth 1 -- \
        https://github.com/marlonrichert/zsh-snap.git ~/Repos/znap
source ~/Repos/znap/znap.zsh  # Start Znap

# Immediately source completions
source ~/.config/zsh/completion.zsh

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory
setopt INC_APPEND_HISTORY

export EDITOR='nvim'
export VISUAL='nvim'

znap eval fzf "fzf --zsh"
znap eval zoxide "zoxide init zsh"
znap eval direnv "direnv hook zsh"
znap eval starship "starship init zsh"
{{ if eq .chezmoi.os "Darwin" }}
znap eval rbenv "rbenv init - --no-rehash zsh"
{{ end }}

# MARK: Source extensions
source ~/.config/zsh/alias.zsh
#source ~/.config/zsh/zsh-theme.zsh
#source ~/.config/zsh/zsh-bitwarden.zsh
source ~/.config/zsh/plugins.zsh

setopt interactivecomments
