source ~/.config/zsh/path.zsh

# Download Znap, if it's not there yet.
[[ -r ~/Repos/znap/znap.zsh ]] ||
    git clone --depth 1 -- \
        https://github.com/marlonrichert/zsh-snap.git ~/Repos/znap
source ~/Repos/znap/znap.zsh  # Start Znap

# Immediately source completions
source ~/.config/zsh/completion.zsh

# Load themester cache
eval $(themester -l)

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory
setopt INC_APPEND_HISTORY

export EDITOR='nvim'
export VISUAL='nvim'

znap eval fzf "fzf --zsh"
znap eval zoxide "zoxide init zsh"
znap eval starship "starship init zsh"

# MARK: Source extensions
source ~/.config/zsh/alias.zsh
#source ~/.config/zsh/zsh-theme.zsh
#source ~/.config/zsh/zsh-bitwarden.zsh
source ~/.config/zsh/plugins.zsh
source ~/.config/zsh/env.zsh

setopt interactivecomments

{{ if eq .chezmoi.os "darwin" }}
# Maestro + Java
export JAVA_HOME="/opt/homebrew/opt/openjdk/libexec/openjdk.jdk/Contents/Home"
export PATH="$JAVA_HOME/bin:$HOME/.maestro/maestro/bin:$PATH"
{{ end }}

tmux-window-name() {
    if [ "$TERM_PROGRAM" = tmux ]; then
	    ($TMUX_PLUGIN_MANAGER_PATH/tmux-window-name/scripts/rename_session_windows.py &)
	fi
}

add-zsh-hook chpwd tmux-window-name

[ -f "/home/jack/.ghcup/env" ] && . "/home/jack/.ghcup/env" # ghcup-env

unset __DIRENV_INSTANT_HOOKED
eval "$(direnv-instant hook zsh)"

# Re-register USR1 trap after zsh-autocomplete's async clears it
_direnv_retrap_widget() {
  trap '_direnv_handler' USR1
  return 0
}
zle -N _direnv_retrap_widget
autoload -Uz add-zle-hook-widget
add-zle-hook-widget line-pre-redraw _direnv_retrap_widget
