{
    // "layer": "top", // Waybar at top layer
    // "position": "top", // Waybar position (top|bottom|left|right)
    // "height": 30, // Waybar height (to be removed for auto height)
    "margin": "00 00 10 10",
    // "width": 1280, // Waybar width
    // Choose the order of the modules
    {{ if eq .chezmoi.hostname "nixos" }}
    "modules-left": ["clock", "custom/weather", "hyprland/language", "keyboard-state", "tray"],
    "modules-center": ["hyprland/workspaces"],
    "modules-right": ["pulseaudio", "backlight", "battery", "custom/mem", "cpu", "custom/power"],
    {{ else }}
    "modules-left": ["hyprland/workspaces", "hyprland/language", "keyboard-state", "custom/pacman", "custom/mail", "sway/mode"],
    "modules-center": ["clock", "custom/weather"],
    "modules-right": ["pulseaudio", "custom/mem", "cpu", "battery", "tray", "custom/power"],
    {{ end }}


    //***************************
    //*  Modules configuration  *
    //***************************

    "sway/workspaces": {
        "disable-scroll": true,
        "persistent_workspaces": {
            "1": [],
            "2": [],
            "3": [],
        },
    },

    "hyprland/workspaces": {
        "format": "{icon}: {windows}",
        "format-window-separator":"",
        "workspace-taskbar": {
                // Enable the workspace taskbar. Default: false
                "enable": true,

                // If true, the active/focused window will have an 'active' class. Could cause higher CPU usage due to more frequent redraws. Default: false
                "update-active-window": true,

                // Format of the windows in the taskbar. Default: "{icon}". Allowed variables: {icon}, {title}
                "format": "{icon}",

                // Icon size in pixels. Default: 16
                "icon-size": 24,

                // Either the name of an installed icon theme or an array of themes (ordered by priority). If not set, the default icon theme is used.
                "icon-theme": [ "Numix-Circle", "Papirus" ],

                // Orientation of the taskbar ("horizontal" or "vertical"). Default: "horizontal".
                "orientation": "horizontal",

                // List of regexes. A window will NOT be shown if its window class or title match one or more items. Default: []
                "ignore-list": [ "xwaylandvideobridge" ],

                // Command to run when a window is clicked. Default: "" (switch to the workspace as usual). Allowed variables: {address}, {button}
                "on-click-window": ""
        },
    },

    "sway/language": {
        "format": "{} ",
	"min-length": 5,
	"tooltip": false
    },

    "hyprland/language": {
        "format": "{}",
        "format-en": "en",
        "format-en-colemak_dh": "Colemak",
    },

    "keyboard-state": {
        //"numlock": true,
        "capslock": true,
        "format": "{icon}",
        "format-icons": {
            "locked": " ",
            "unlocked": "", //
        },
    },

    "custom/pacman": {
        "format": "{}  ",
        "interval": 3600,                     			// every hour
        "exec": "(checkupdates;pacman -Qm | aur vercmp) | wc -l",	// # of updates
        "exec-if": "exit 0",                  			// always run; consider advanced run conditions
        "on-click": "alacritty sh -c 'yay; echo Done - Press enter to exit; read'; pkill -SIGRTMIN+8 waybar", // update system
        "signal": 8,
        "tooltip": false,
    },

    "custom/mail": {
        "format": "{} ",
        "exec": "$HOME/.config/waybar/scripts/checkgmail.py",
        "interval": 120,
        "on-click": "betterbird ; pkill -SIGRTMIN+9 waybar",
        "signal": 9,
        "tooltip": false,
    },

    "custom/power": {
	    "format": "⏻",
        "on-click": "$HOME/.config/rofi/powermenu/type-6/powermenu.sh",
        "tooltip": false,
    },

    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },

    "clock": {
        // "timezone": "America/Chicago",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": "{:%a, %d %b, %I:%M %p}"
    },

    // "custom/weather": {
    //    "format": "{}",
    //    "tooltip": true,
    //    "interval": 1800,
    //    "exec": "$HOME/.config/waybar/scripts/wttr.py",
    //    "return-type": "json"
    //},

    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        "reverse-scrolling": 1,
        "format": "{volume}% {icon}   {format_source}",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": " {format_source}",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", ""]
        },
        "on-click": "pavucontrol",
        "min-length": 13,
    },

    "custom/mem": {
        "format": "{} ",
        "interval": 3,
        "exec": "free -h | awk '/Mem:/{printf $3}'",
        "tooltip": false,
    },

    "cpu": {
        "interval": 10,
        "format": "{}% ",
        "max-length": 10
    },

    "temperature": {
        // "thermal-zone": 2,
        // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        // "format-critical": "{temperatureC}°C {icon}",
        "format": "{temperatureC}°C {icon}",
        "format-icons": ["", "", "", "", ""],
        "tooltip": false,
    },

    "backlight": {
        "device": "intel_backlight",
        "format": "{percent}% {icon}",
        "format-icons": ["", ""],
        "min-length": 7,
    },

    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-icons": ["", "", "", "", ""],
	    "on-update": "$HOME/.config/waybar/scripts/check_battery.sh",
    },

    "tray": {
        "icon-size": 16,
        "spacing": 0
    },
}
