if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'schasse/tmux-jump'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'anghootys/tmux-ip-address'
set -g @plugin 'erikw/tmux-powerline'
set -g @plugin 'idevtier/tmux-cargo'
{{ if eq .chezmoi.hostname "nixos" }}
{{ else }}
set -g @plugin 'ofirgall/tmux-window-name'
{{ end }}

set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",*:RGB"

set -g @tmux_window_name_shells "['bash', 'fish', 'sh', 'zsh', 'tmux']"
# set -g @tmux_window_dir_programs "['nvim', 'vim', 'vi', 'git', 'lg']"
set -g @tmux_window_name_icon_style "'name_and_icon'"
{{ if eq .chezmoi.hostname "nixos" }}
set -g default-shell /run/current-system/sw/bin/zsh
{{ else }}
set -g default-shell /bin/zsh
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
set -g default-command "reattach-to-user-namespace -l zsh"
{{ end }}

set -g @jump-key 's'

set-option -g status-position top

bind-key x kill-pane # skip "kill-pane 1? (y/n)" prompt
set -g detach-on-destroy off  # don't exit from tmux when closing a session

bind M-R source-file ~/.config/tmux/tmux.conf
bind -T root M-w switch-client -T window-mg
bind -T window-mg v split-window -h
bind -T window-mg s split-window -v

bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

set-option -a terminal-features ''

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'github_username/plugin_name#branch'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
# set -g status 2
# set -g status-format[1] ''
