setenv -g TMUX_PLUGIN_MANAGER_PATH '$HOME/.config/tmux/plugins/'

if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'schasse/tmux-jump'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'anghootys/tmux-ip-address'
set -g @plugin 'erikw/tmux-powerline'
set -g @plugin 'idevtier/tmux-cargo'
set -g @plugin 'alexwforsythe/tmux-which-key'
set -g @plugin 'ofirgall/tmux-window-name'

set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",*:RGB"

set -g @tmux_window_name_shells "['bash', 'fish', 'sh', 'zsh', 'tmux', 'chezmoi']"
set -g @tmux_window_name_dir_programs "['nvim', 'vim', 'vi', 'nano']"
set -g @tmux_window_name_icon_style "'name_and_icon'"
set -g @tmux_window_name_ignored_programs "['reattach-to-user-namespace', 'env']"
set -g @tmux_window_name_running 0
set -g @tmux_window_name_show_program_args "False"
# set -g @tmux_window_name_max_name_len "25"
set -g @tmux_window_name_use_tilde "True"
set -g @tmux_window_name_substitute_sets "[('\/nix\/store\/[0-9a-z]{32}-[-.+_?=0-9a-zA-Z]+\/(bin\/|)', ''), ('edit ', '')]"

{{ if eq .chezmoi.hostname "nixos-laptop" }}
set -g default-shell /run/current-system/sw/bin/zsh
{{ else if eq .chezmoi.hostname "nixos-desktop" }}
set -g default-shell /run/current-system/sw/bin/zsh
{{ else }}
set -g default-shell /bin/zsh
{{ end }}
# {{ if eq .chezmoi.os "darwin" }}
# set -g default-command "reattach-to-user-namespace -l zsh"
# {{ end }}

set -g @jump-key 's'

set-option -g status-position top

bind-key x kill-pane # skip "kill-pane 1? (y/n)" prompt
set -g detach-on-destroy off  # don't exit from tmux when closing a session

bind M-R source-file ~/.config/tmux/tmux.conf
bind -T root M-w switch-client -T window-mg
bind -T window-mg v split-window -h
bind -T window-mg s split-window -v

bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

set-option -a terminal-features ''

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'github_username/plugin_name#branch'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# Initialize plugins once per tmux server. Re-sourcing this file should apply
# configuration without paying the cost of re-running every plugin entrypoint.
if-shell -F '#{!=:#{@plugins_initialized},1}' {
    run-shell '~/.config/tmux/plugins/tpm/tpm'
    set-option -g @plugins_initialized 1
}

# The window formats in jackcore are static. Keep them out of tmux-powerline's
# per-refresh shell pipeline so only the dynamic left and right sides spawn jobs.
set -g window-status-current-format '#[fg=colour235,bg=colour255,nobold,noitalics,nounderscore] #I#F  #W #[fg=colour255,bg=colour235,nobold,noitalics,nounderscore]'
set -g window-status-format '#[fg=colour255,bg=colour235,nobold,noitalics,nounderscore]  #I#{?window_flags,#F, }  #W '
# set -g status 2
# set -g status-format[1] ''
