return {
    "janBorowy/jirac.nvim",
    dependencies = {
        "MunifTanjim/nui.nvim",
        "grapp-dev/nui-components.nvim",
        "nvim-lua/plenary.nvim"
    },
    keys = {
        {
            "<leader>ji",
            mode = { "n", "x", "o" },
            function()
                require("jirac")
                local issue = vim.fn.input("Issue: ", "", "file")
                vim.cmd('JiracIssue ios-' ..issue)
            end,
            desc = "Open jira issue"
        },
        {
            "<leader>js",
            mode = { "n", "x", "o" },
            function()
                require("jirac")
                vim.cmd('JiracIssueSearch')
            end,
            desc = "Search for jira issue"
        },
        {
            "<leader>jc",
            mode = { "n", "x", "o" },
            function()
                require("jirac")
                vim.cmd('JiracIssueCreate')
            end,
            desc = "Create Jira issue"
        },
        {
            "<leader>jr",
            mode = { "n", "x", "o" },
            function()
                require("jirac")
                vim.cmd('JiracShow')
            end,
            desc = "Reopen last jira panel"
        },
    },
    {{ if eq .chezmoi.os "darwin" }}
    config = function()
        require("jirac").setup({
            email = "jack.hamilton@grindr.com",
            jira_domain = "grindr.atlassian.net",
            api_key = "{{ (bitwarden "item" "jira_grindr_api_key").notes }}",
            config = {
                default_project_key = "IOS",
                window_width = 150,
                window_height = 50
            }
        })
    end,
    {{ end }}
}
