local function get_sourcekit()
   local mac = vim.fn.OSX()
    if mac == 1 then
        return {
            cmd = { "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/sourcekit-lsp",
                "-Xclangd",
                "-DCMAKE_C_COMPILER_LAUNCHER=$(which sccache)",
                "-Xclangd",
                "-DCMAKE_CXX_COMPILER_LAUNCHER=$(which sccache)",
                "--default-workspace-type",
                "buildServer" },
            capabilities = {
                workspace = {
                    didChangeWatchedFiles = {
                        dynamicRegistration = true
                    }
                }
            },
            root_dir = vim.fs.root(0, "*.xcworkspace"),
        }
    else
        return {
            capabilities = {
                workspace = {
                    didChangeWatchedFiles = {
                        dynamicRegistration = true
                    }
                }
            },
            root_dir = vim.fs.root(0, "*.xcworkspace"),
        }
    end
end

return {
    {
        'neovim/nvim-lspconfig',
        dependencies = { 'saghen/blink.cmp' },
        opts = {
            servers = {
                lua_ls = {},
                ts_ls = {},
                hls = {},
                pyright = {},
                sourcekit = get_sourcekit(),
                gdscript = {
                    name = "godot",
                    cmd = vim.lsp.rpc.connect("127.0.0.1", 6005),
                },
            }
        },
        keys = {
            {
                "<leader>la",
                function ()
                    vim.lsp.buf.code_action()
                end,
                desc = "Code action"
            },
            {
                "<leader>lsS",
                function ()
                    vim.lsp.buf.signature_help()
                end,
                desc = "Vim signature help"
            }
        },
        config = function(_, opts)
            local lspconfig = require('lspconfig')
            for server, config in pairs(opts.servers) do
                -- passing config.capabilities to blink.cmp merges with the capabilities in your
                -- `opts[server].capabilities, if you've defined it
                config.capabilities = require('blink.cmp').get_lsp_capabilities(config.capabilities)
                lspconfig[server].setup(config)
            end
        end
    },
}
