-- Pull in the wezterm API
local wezterm = require 'wezterm'

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is where you actually apply your config choices
config.enable_wayland = false

-- For example, changing the color scheme:
-- kinda unvetted
-- config.font = wezterm.font 'JetBrainsMono Nerd Font Mono'
-- config.font = wezterm.font 'GeistMono Nerd Font Mono'
-- config.font = wezterm.font 'BlexMono Nerd Font Mono'
-- config.font = wezterm.font 'MonaspiceAr Nerd Font Mono'
--
-- vetted
-- config.font = wezterm.font 'MonaspiceNe Nerd Font Mono'
-- config.font = wezterm.font 'Lilex Nerd Font Mono'
-- config.font = wezterm.font 'MesloLGL Nerd Font Mono'
--
config.font = wezterm.font("RobotoMono Nerd Font Mono", {
    weight = "Regular",
})

config.font_rules = {
    {
        intensity = "Bold",
        italic = false,
        font = wezterm.font("RobotoMono Nerd Font Mono", {
            weight = "Bold",
        }),
    },
    {
        intensity = "Bold",
        italic = true,
        font = wezterm.font("RobotoMono Nerd Font Mono", {
            weight = "Bold",
            style = "Italic",
        }),
    },
}
{{ if eq .chezmoi.os "darwin" }}
config.font_size = 16
{{ else }}
config.font_size = 14
{{ end }}

config.enable_scroll_bar = true
config.enable_kitty_graphics = true
config.hide_tab_bar_if_only_one_tab = true
config.window_decorations = "RESIZE"

local theme = require('dynamic_theme')
config.color_scheme = "" .. theme

{{ if eq .chezmoi.os "darwin"}}
config.default_cwd = "/Users/jackhamilton/Documents/GitHub/Super/"
{{ end }}

-- and finally, return the configuration to wezterm
return config
