load-zsh-plugin() {
    local repo="$1"
    local entrypoint="$2"
    local plugin="$HOME/Repos/$repo/$entrypoint"

    if [[ -r "$plugin" ]]; then
        source "$plugin"
    else
        znap source "$repo"
    fi
}

load-zsh-plugin marlonrichert/zsh-autocomplete zsh-autocomplete.plugin.zsh

#ZSH_AUTOSUGGEST_STRATEGY=(match_prev_cmd completion)
ZSH_AUTOSUGGEST_STRATEGY=(completion history)
load-zsh-plugin zsh-users/zsh-autosuggestions zsh-autosuggestions.plugin.zsh

load-zsh-plugin zsh-users/zsh-syntax-highlighting zsh-syntax-highlighting.plugin.zsh

load-zsh-plugin akash329d/zsh-alias-finder zsh-alias-finder.plugin.zsh
load-zsh-plugin zpm-zsh/undollar undollar.plugin.zsh
load-zsh-plugin jeffreytse/zsh-vi-mode zsh-vi-mode.plugin.zsh
load-zsh-plugin nix-community/nix-zsh-completions nix-zsh-completions.plugin.zsh
#znap source Junker/zsh-archlinux@main
eval $(themester -l)

load-zsh-plugin zsh-users/zsh-completions zsh-completions.plugin.zsh
load-zsh-plugin chisui/zsh-nix-shell nix-shell.plugin.zsh

unfunction load-zsh-plugin
